<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Books</h1>
</div>

<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h5 class="m-0 font-weight-bold text-primary">Books</h5>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th>Title</th>
            <th>Author Name</th>
            <th>Total Qauntity</th>
            <th>Available Qauntity</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Book 1</td>
            <td>Darpit A. Patel</td>
            <td>50</td>
            <td>48</td>
            <td>Active</td>
            <td>Edit / Delete</td>
          </tr>
          <tr>
            <td>Book 2</td>
            <td>Darpit</td>
            <td>50</td>
            <td>50</td>
            <td>Inactive</td>
            <td>Edit / Delete</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
