<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div
        class="col-lg-6 order-1 order-lg-2"
        data-aos="fade-left"
        data-aos-delay="100"
      >
        <img src="/assets/img/about.jpg" class="img-fluid" alt="" />
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
        <h3>
          We are working on a library management project that manages and stores
          books electronically according to students' needs.
        </h3>
        <p>
          Both students and librarians can keep track of all the books in the
          library using the system.
        </p>
        <p>
          It allows both admins and students to search for books. As a result,
          colleges must keep a constant check on the books issued and returned
          and even calculate fines.
        </p>
        <p>
          Manually performing this task will be tedious and may lead to errors.
          By allowing the system to track information such as issue date, last
          date to return the book, and even fine information, errors are
          prevented, and there is no need to keep track of this information
          manually, so errors can be avoided.
        </p>
        <p>
          Thus, this system removes chances of errors in library activities by
          reducing manual work to a great extent.
        </p>
      </div>
    </div>
  </div>
</section>
