<section id="counts" class="counts section-bg">
  <div class="container">
    <div class="row counters">
      <div class="col-lg-3 col-6 text-center">
        <span
          data-purecounter-start="0"
          data-purecounter-end="<%= data.counts.users %>"
          data-purecounter-duration="1"
          class="purecounter"
        ></span>
        <p>Users</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span
          data-purecounter-start="0"
          data-purecounter-end="<%= data.counts.books %>"
          data-purecounter-duration="1"
          class="purecounter"
        ></span>
        <p>Books</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span
          data-purecounter-start="0"
          data-purecounter-end="<%= data.counts.category %>"
          data-purecounter-duration="1"
          class="purecounter"
        ></span>
        <p>Book Category</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span
          data-purecounter-start="0"
          data-purecounter-end="<%= data.counts.issuedBooks %>"
          data-purecounter-duration="1"
          class="purecounter"
        ></span>
        <p>Issued Books</p>
      </div>
    </div>
  </div>
</section>
